<div class="cart-preview">
    <button class="cart-close-button material-icons" (click)="toggleCartPreview()">highlight_off</button>
    <span class="cart-empty" *ngIf="inCart.length === 0">В корзине пусто</span>
    <div class="cart-not-empty" *ngIf="inCart.length > 0">
        <h3 class="cart-product-list-title">Список покупок:</h3>
        <ol class="cart-product-list">
            <li class="cart-product-list-item" *ngFor="let item of inCart">
                <div class="cart-product-list-item-title">
                    <button class="cart-product-list-item-delete-button material-icons" (click)="deleteProductFromCartEmit(item.product.id)">clear</button>
                    <div>{{ item.product.title }} x {{ item.count }}</div>
                </div>
                <div>{{ getFullProductPrice(item) | currency : 'RUB' : 'symbol-narrow' : '1.0-0' }}</div>
            </li>
        </ol>
        <hr>
        <div class="cart-full-total-sum">
            <div class="cart-full-total-sum-title">Итоговая сумма:</div>
            <div>{{ getTotalFullSum() | currency : 'RUB' : 'symbol-narrow' : '1.0-0' }}</div>
        </div>
        <div class="cart-total-discount-sum">
            <div class="cart-total-discount-sum-title">Скидка:</div>
            <div>-{{ getTotalDiscountSum() | currency : 'RUB' : 'symbol-narrow' : '1.0-0' }}</div>
        </div>
        <hr>
        <div class="cart-total-sum">
            <div class="cart-total-sum-title">Итоговая сумма со скидкой:</div>
            <div class="cart-total-sum-amount">{{ getTotalSum() | currency : 'RUB' : 'symbol-narrow' : '1.0-0' }}</div>
        </div>
        <div class="cart-actions">
            <app-button (clearCart)="clearCartEmit()" [title]="ButtonTitles.MAKE_ORDER"></app-button>
            <app-button (clearCart)="clearCartEmit()" [title]="ButtonTitles.CLEAR_CART"></app-button>
        </div>
    </div>
</div>
