
.add-to-cart-button-block {
  position: relative;
}

.storage-empty {
  position: absolute;
  padding: 0 0 0 5px;

  top: 50px;

  color: #FF3366;
  font-size: 11px;
}

.add-to-cart-button {
  margin: 0 26px 10px 0;
  border: 1px solid #DDDDDD;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.0024em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-to-cart-button:not([disabled]):hover {
  cursor: pointer;
  border-color: rgb(16, 32, 180);
  background-color: rgb(16, 32, 180);
  color: #FFFFFF;
}

.active:active,
.active:focus,
.active {
  border-color: rgb(16, 32, 180);
}

.add-to-cart-button[disabled] {
  background-color: #ececec;
  color: #9e9e9e;
}

.default-button {
  background-color: #FFFFFF;
  color: #555555;
}

.primary-button {
  background-color: #FFFFFF;
  color: #555555;
}

.accent-button {
  background-color: #c0c0c0;
  color: #555555;
}

.success-button {
  background-color: #49ce80;
  color: #19964d;
}

.warning-button {
  background-color: #eb6060;
  color: #961919;
}

.default-size-button {
  padding: 12px 19px;
  width: 198px;
  height: 40px;
  font-size: 16px;
}

.large-size-button {
  padding: 12px 35px;
  width: 250px;
  height: 50px;
  font-size: 18px;
}

.small-size-button {
  padding: 12px 14px;
  width: 150px;
  height: 30px;
  font-size: 12px;
}

